<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
    <form action="{%url 'registeruser' %}" method="POST" name="frm">
        {% csrf_token %}
        <table>
            <tr>
                <td>First Name: </td>
                <td><input type="text" name="fname"></td>
            </tr>
            <tr>
                <td>Last Name: </td>
                <td><input type="text" name="lname"></td>
            </tr>
            <tr>
                <td>Email: </td>
                <td><input type="email" name="email"></td>
            </tr>
            <tr>
                <td>Password: </td>
                <td><input type="password" name="pwd"></td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Register" name="" id=""></td>
            </tr>
        </table>
    </form>
</body>
</html>